{% extends "base.html" %}
{% load crispy_forms_tags %}






{% block title %}
    home
{% endblock title %}

{% block content %}
    <h1> Sales Report app</h1>
    <hr>
    <form action="" method='POST'>
        {% csrf_token %}
        {{form|crispy}}
        <button type='submit' class= 'btn btn-primary mt-3'>Search</button>
    </form>
    <br>

    {% if sales_df %}
    <h1>Sales Data</h1>
        {{sales_df|safe}}
        <br>
        <h3>Positions Data</h3>
        {{positions_df|safe}}

        <br>
        <h3>Merged DataFrame</h3>
        {{merged_df|safe}}

        <br>
        <h3>GroupedBy DataFrame</h3>
        {{df|safe}}
        <br>
        <h3>Chart</h3>
        <img src="data:image/png;base64, {{chart|safe}}">
    {% else %}
        <h3> No Data Found!</h3>
    {% endif %}

    


{% endblock content %}