.not-visible{
    display: none;
}

.dz{
    border-style:dashed;
    border-radius: 5px;
    border-color: #227c31;
    transition:.5s;
}

.dz:hover{
    background-color: #9c6a6a;
}

.avatar-big {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.logo-sn {
    height: 30px;
    width: auto;
}